/* ****************************************************** */
/* ************ Border animation for Navbar ************* */
/* ****************************************************** */

.border-animation::after {
    content: "";
    width: 0px;
    height: 3px;
    background-color: #EF233C;
    position: relative;
    display: block;
    top: 3px;
    transition: all 400ms ease;
}

.border-animation:hover::after {
    width: 100%;
}

/* ****************************************************** */

/* ****************************************************** */
/* *********** Button animation of Homepage ************* */
/* ****************************************************** */
.btn-sub1:hover {
    background-color: transparent;
    padding-right: 30px;
}

.fa-angle-right {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 500ms ease;
}

.btn-sub2:hover {
    border: 1px solid #EDF2F4;
    background-color: #352C31;
}

.fa-angle-double-right {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 500ms ease;
}

/* ****************************************************** */

/* ****************************************************** */
/* ***************** Pricing Animation ****************** */
/* ****************************************************** */
.content-3 .basic a:hover, .content-3 .enterprise a:hover {
    background-color: #E30022;
    color: white;
}

@media only screen and (min-width: 1024px) {
    .basic .basic-border, .enterprise .basic-border {
        position: absolute;
        background-color: #E30022;
        transition: all 800ms ease;
    }
    
    .content-3 .basic .basic-border:nth-child(1), .enterprise .basic-border:nth-child(1) {
        top: 0%;
        left: 0%;
        width: 30px;
        height: 0.8px;
    }
    
    .content-3 .basic .basic-border:nth-child(2), .enterprise .basic-border:nth-child(2) {
        top: 0%;
        left: 0%;
        width: 1px;
        height: 30px;
    }

    .content-3 .basic .basic-border:nth-child(3), .enterprise .basic-border:nth-child(3) {
        bottom: 0%;
        right: 0%;
        width: 0.8px;
        height: 30px;
    }

    .content-3 .basic .basic-border:nth-child(4), .enterprise .basic-border:nth-child(4) {
        bottom: 0%;
        right: 0%;
        width: 30px;
        height: 1px;
    }
    
    .enterprise .basic .basic-border:nth-child(2) {
        width: 0.8px;
    }

    .pro .pro-span {
        position: absolute;
        background-color: #E30022;
        transition: all 800ms ease;
    }

    .pro .pro-span:nth-child(1) {
        bottom: 40%;
        right: 0%;
        width: 1px;
        height: 130px;
    }

    .pro .pro-span:nth-child(2) {
        bottom: 40%;
        left: 0%;
        width: 1px;
        height: 130px;
    }

}

/* ****************************************************** */

/* ****************************************************** */
/* ********************** Our Team ********************** */
/* ****************************************************** */
.content-5 .social-icon span:hover {
    background-color: #E30022;
    color: white;
}

/* ****************************************************** */

/* ****************************************************** */
/* *********************** Footer *********************** */
/* ****************************************************** */
footer span:hover {
    color: #3F494C;
    background-color: white;
}

.top a:hover {
    color: #F7FFF7;
}

/* ****************************************************** */